@(usuario: Usuario)

@main(usuario.getId(),"Detalle de usuario") {

   <h1>Perfil del usuario @usuario.getId()</h1>
      <ul>
      <li><strong>Login: </strong> @usuario.getLogin()</li>
      <li><strong>Email: </strong> @usuario.getEmail()</li>
      <li><strong>Nombre: </strong> @usuario.getNombre()</li>
      <li><strong>Apellidos: </strong> @usuario.getApellidos()</li>
      <li><strong>Fecha de nacimiento: </strong>
            @if(usuario.getFechaNacimiento() != null) {
                @usuario.getFechaNacimiento().format("dd-MM-yyyy")
            }</li>
   </ul>
   <a href="@routes.UsuarioController.formularioEditarPerfil(usuario.getId())"><span class="glyphicon glyphicon-pencil" style="margin-right:5px"></span>Editar Perfil</a>
   <br>
   <a href="@usuario.getId()/tareas"><span class="glyphicon glyphicon-list-alt" style="margin-right:5px"></span>Consultar Tareas</a>
   <br>
   <a href="@usuario.getId()/tableros"><span class="glyphicon glyphicon-list-alt" style="margin-right:5px"></span>Consultar Tableros</a>
   <br>
   <a href="@routes.UsuarioController.logout()"><span class="glyphicon glyphicon-arrow-left" style="margin-right:5px"></span>Cerrar Sesion</a>
}
