@(usuario: Usuario, tareaForm: Form[Tarea], mensaje: String)
@main(usuario.getId(),"Nueva tarea") {
    @if(mensaje != "") {
        <div class="alert alert-danger">
            @mensaje
        </div>
    }
    <h1>Nueva tarea para @usuario.getLogin()</h1>
    @helper.form(action = routes.GestionTareasController.creaNuevaTarea(usuario.getId())) {
        <fieldset>
            <legend>Nueva tarea</legend>
            Título:  <input type="text" size=70 name="titulo"><br>
            Fecha Límite: <input type="text" size=70 name="fecha" placeholder="dd-MM-yyyy"><br>
        </fieldset>
        <p>
           <input type="submit" class="btn btn-primary" value="Guardar">
        </p>
    }
}
