@(idUsuario: Long, idTarea: Long, titulo: String, fecha: String, mensaje: String)
@main(idUsuario,"Modificar Tarea") {
   @if(mensaje != "") {
      <div class="alert alert-danger">
         @mensaje
      </div>
   }
   <h1>Modificar tarea</h1>
   @helper.form(action = routes.GestionTareasController.grabaTareaModificada(idTarea)) {
      <fieldset>
         <legend>Tarea</legend>
         Título:  <input type="text" size=70 name="titulo" value= "@titulo"><br>
         Fecha Límite: <input type="text" size=70 name="fecha" value= "@fecha" placeholder="dd-MM-yyyy"><br>
      </fieldset>
      <p/>
      <p>
         <input type="submit" class="btn btn-primary" value="Guardar">
         <a class="btn btn-warning" href="@routes.GestionTareasController.listaTareas(idUsuario)">Cancelar</a>
      </p>
    }
 }
