@(tablerosAdmin: List[Tablero], tablerosParticipa: List[Tablero],tablerosFree: List[Tablero],usuario: Usuario, mensaje: String)
@scripts = {
    <script type="text/javascript">
        function del(urlBorrar) {
            $.ajax({
                url: urlBorrar,
                type: 'DELETE',
                success: function(results) {
                    //refresh the page
                    location.reload();
                }
            });
        }
    </script>
}
@main("Tableros disponibles para el usuario @usuario.getLogin()", scripts) {

  @if(mensaje != null) {
      <div class="alert alert-success">
          @mensaje
      </div>
  }

    <h3> Listado de tableros ADMINISTRADOS por @usuario.getLogin()</h3>

    <table class="table table-striped">
        <tr>
            <th>Tableros</th>
            <th>Acción</th>
        </tr>
    @for(tablero <- tablerosAdmin) {
        <tr>
            <td>@tablero.getNombre()</td>
            <td><a href="">
                <span class="glyphicon glyphicon-pencil"></span></a>&nbsp;
                <a onmouseover="" style="cursor: pointer;"
                onclick="alert("Funcion no implementada")">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
        </tr>
      }
      <tr>
          <td><a href="@routes.GestionTablerosController.formularioNuevoTablero(usuario.getId())">
              <span class="glyphicon glyphicon-plus"/></a></td>
          <td></td>
      </tr>
  </table>
  <br>
  <h3> Listado de tableros en los que participa @usuario.getLogin()</h3>

  <table class="table table-striped">
      <tr>
          <th>Tableros</th>
          <th>Acción</th>
      </tr>
  @for(tablero <- tablerosParticipa) {
      <tr>
          <td>@tablero.getNombre()</td>
          <td><a href="">
              <span class="glyphicon glyphicon-pencil"></span>&nbsp;
              <a onmouseover="" style="cursor: pointer;"
              onclick="">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
      </tr>
    }
    <tr></tr>
</table>
<br>
<h3> Listado de tableros disponibles para @usuario.getLogin()</h3>

<table class="table table-striped">
    <tr>
        <th>Tableros</th>
        <th>Acción</th>
    </tr>
@for(tablero <- tablerosFree) {
    <tr>
        <td>@tablero.getNombre()</td>
        <td><a href="@routes.GestionTablerosController.añadirParticipante(usuario.getId(),tablero.getId())">
            <span class="glyphicon glyphicon-pencil"></span></a></td>
    </tr>
  }
  <tr></tr>
</table>

}
